html, body{
	margin: 0;
}

header{
	background-color: #541e1e;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlLhjtiYwT4jd3tWyuFS6Rfp7u0rTKEw8s10VXNq7gXYkxkG_s);
	background-size: 50%
	background-repeat: no-repeat;
	padding: 50px;
	text-align: center;
}

h1{
	font-size: 90px; 
	color: white;
}

header img{
	border-radius: 150px;
	border: 5px solid white;
}

footer{
	font-size: 13px;
	color: gray;
	padding: 0.04px 0.02px;
}